### Importing Libraries

In [1]:
import numpy as np
import pandas as pd

### Loading DataSets

In [2]:
df1 = pd.read_csv('data1.csv')
df2 = pd.read_csv('data2.csv')

### Creating composite keys in dataframes

In [3]:
df1['key'] = df1['Order ID']+df1['Product ID']
df2['key'] = df2['Order ID']+df2['Product ID']

#### 1. How to identify the Records (Order ID + Product ID combination) present in data1 but missing in data2 (Specify the number of records missing in your answer)

In [4]:
df_left = df1.merge(df2.drop_duplicates(), on = 'key', how = 'left', indicator = True)

In [5]:
df2_missing_final = df_left[df_left['_merge'] == 'left_only']\
[['Order ID_x', 'Product ID_x', 'Qty_x']].\
rename(columns = {'Order ID_x':'Order ID' , 'Product ID_x':'Product ID', 'Qty_x':'Qty'}).\
reset_index().drop(columns = 'index')

In [6]:
df2_missing_final.head()

         Order ID       Product ID  Qty
0  CA-2014-100006  TEC-PH-10002075    3
1  CA-2014-100678  OFF-EN-10000056    3
2  CA-2014-100895  OFF-AR-10004511    2
3  CA-2014-101560  OFF-BI-10000309    3
4  CA-2014-102673  OFF-LA-10001771   12

In [7]:
df2_missing_count = len(df2_missing_final)
df2_missing_count

507

#### 2. How to identify the Records (Order ID + Product ID combination) missing in data1 but present in data2 (Specify the number of records missing in your answer)

In [8]:
df_right = df2.merge(df1.drop_duplicates(), on = 'key', how = 'left', indicator = True)

In [9]:
df1_missing_final = df_right[df_right['_merge'] == 'left_only']\
[['Order ID_x', 'Product ID_x', 'Qty_x']].\
rename(columns = {'Order ID_x':'Order ID' , 'Product ID_x':'Product ID', 'Qty_x':'Qty'}).\
reset_index().drop(columns = 'index')

In [10]:
df1_missing_final.head()

         Order ID       Product ID  Qty
0  CA-2014-100706  TEC-AC-10001314    2
1  CA-2014-100762  OFF-PA-10001815    3
2  CA-2014-101427  OFF-AR-10002257    3
3  CA-2014-102652  FUR-FU-10001918    7
4  CA-2014-102869  OFF-PA-10000788    3

In [11]:
df1_missing_count = len(df1_missing_final)
df1_missing_count

508

#### 3. Find the Sum of the total Qty of Records missing in data1 but present in data2

In [12]:
df1_qty_sum = df1_missing_final.Qty.sum()
df1_qty_sum

1956

#### 4. Find the total number of unique records (Order ID + Product ID combination) present in the combined dataset of data1 and data2

In [13]:
unique_count = len(pd.concat([df1, df2])[['key']].drop_duplicates())
unique_count

9986